.skills-card {
	margin-bottom:3vh;
}

h1 {
	font-family: 'Roboto', sans-serif;
}

h2 {
	font-family: 'Roboto', sans-serif;
}

h3 {
	font-family: 'Roboto', sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif;
}

.subtitle {
	font-family: 'Open Sans', sans-serif;
	color:grey;
}

/*
 * Sidebar
 */

.sidebar {
  top: 0px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.intro-segment {
	margin:5%;
}

@media screen and (min-width: 992px) {
	.sidebar {
		position: fixed;
		width:16vw;
		top: 0px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		padding: 20px 0;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		border-right: 1px solid #eee;
		height:100vh;
	}
	.intro-segment {
		margin:19%;
	}
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}
